LAT=00.000
LONG=-00.000
CALENDAR_ID=your_calendar_id@group.calendar.google.com
STORE_PATH=events_store_locationname.json
CUP_RADIUS=140
CHALLENGE_RADIUS=90
PRERELEASE_RADIUS=50
LOCATION_NAME=City Name
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/...
# GOOGLE_API_CREDENTIALS=/path/to/google_api_credentials.json
